{% extends 'base.html' %}

{% block content %}
<h2>Mis Multas</h2>

<table>
    <tr>
        <th>Monto</th>
        <th>Estado</th>
        <th>Acciones</th> <!-- Nueva columna para acciones -->
    </tr>
    {% for multa in multas %}
    <tr>
        <td>{{ multa.monto }}</td>
        <td>{{ multa.estado }}</td>
        <td>
            {% if multa.estado == 'pendiente' %}
                <a href="{% url 'pagar_multa' multa.id %}">Pagar</a>
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No tienes multas.</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'listar_libros' %}">Volver a la lista de libros</a>
{% endblock %}