{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-primary font-weight-bold">Gestor de Usuarios</h2>
    
    <div class="text-right mb-3">
        <a href="{% url 'registro' %}" class="btn btn-success">Agregar Nuevo Usuario</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.role }}</td>
                    <td>
                        <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'eliminar_usuario' usuario.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay usuarios.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'index' %}" class="btn btn-primary">Volver al panel de administración</a>
    </div>
</div>

<!-- Estilos adicionales -->
<style>
    body {
        background-color: #f8f9fa; /* Color de fondo suave */
    }
    h2 {
        margin-bottom: 20px; /* Espacio debajo del título */
    }
    .table th, .table td {
        vertical-align: middle; /* Centrar verticalmente el contenido de las celdas */
    }
    .table-hover tbody tr:hover {
        background-color: #e9ecef; /* Color de fondo al pasar el mouse sobre las filas */
    }
</style>
{% endblock %}