{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-light">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                    </form>
                    
                    {% if next %}
                        <div class="mt-3 text-center">
                            <p>Por favor, inicia sesión para continuar a <a href="{{ next }}" class="text-primary">{{ next }}</a>.</p>
                        </div>
                    {% endif %}
                    
                    <div class="text-center mt-3">
                        <a href="{% url 'registro' %}" class="btn btn-secondary">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}