{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-primary font-weight-bold">Catálogo de Libros</h2>

    <div class="text-right mb-3">
        <a href="{% url 'crear_libro' %}" class="btn btn-success">Agregar Nuevo Libro</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Categoría</th>
                    <th>Cantidad Disponible</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                <tr>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.autor.nombre }}</td>
                    <td>{{ libro.categoria.nombre }}</td>
                    <td>{{ libro.cantidad_disponible }}</td>
                    <td>
                        {% if libro.cantidad_disponible > 0 %}
                		{% if not user.is_superuser %}
                    			<a href="{% url 'realizar_prestamo' libro.id %}">Realizar Préstamo</a>
                		{% endif %}
            		{% else %}
                		{% if not user.is_superuser %}  
                    			<a href="{% url 'realizar_reserva' libro.id %}">Realizar Reserva</a>
                		{% endif %}
            		{% endif %}
            		{% if user.is_superuser %}
                		<a href="{% url 'editar_libro' libro.id %}">Editar</a>
                		<a href="{% url 'eliminar_libro' libro.id %}">Eliminar</a>
            		{% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No hay libros en el catálogo.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'index' %}" class="btn btn-primary">Volver al panel de administración</a>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }
    h2 {
        margin-bottom: 20px;
    }
    .table th, .table td {
        vertical-align: middle;
    }
    .table-hover tbody tr:hover {
        background-color: #e9ecef;
    }
</style>
{% endblock %}